body {
    background-color: bisque;
    font-family: "Nunito", sans-serif;

}

#mainNavbar .navbar-brand {
    color:red;

}
#mainNavbar .navbar-brand:hover {
    color:pink;

}

.navbar-brand {
   
    font-size: 1.5rem;
    font-weight: 100;
}